body {
    background-color: rgb(250, 250, 250);
    height:100vh;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    font-size: 14px;
  }
  .menu ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
  }
  .menu li {
    list-style: none;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-home {
    justify-content: right;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
  }
  /* sei la */
  .menu {
    font-family: 'Quicksand', sans-serif;
    align-items: center;

  }

  .menu p {
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
  }

  .site-tittle {
    text-align: center;
    font-style: italic;
  }

  .site-subtittle {
    color: rgb(15, 15, 15);
      }


  a {
    color: rgb(15, 15, 15);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

